/* ====== general styles ====== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ====== /general styles ====== */

/* ====== header styles ====== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

.adress {
  font-style: normal;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  display: none;
}

.logo-color {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }

  .adress {
    display: block;
  }

  .open-menu-btn {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .adress-links {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress-links:hover,
  .adress-links:focus {
    color: #404bbf;
  }

  .menu-link.studio-underline {
    color: #404bbf;
  }

  .studio-underline {
    position: relative;
  }

  .studio-underline::after {
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .adress-list {
    flex-direction: row;
    gap: 40px;
  }

  .adress-links {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* ====== /header styles ====== */

/* ======== Hero Styles ================== */

.hero-container {
  text-align: center;
}

.hero {
  background: #2e2f42;
  background-size: cover;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_hero_mbl.jpg);
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.main-text {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.btn-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #404bbf;
}

@media only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero_mbl@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero_tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-text {
    font-size: 56px;
    line-height: 1;
    max-width: 496px;
    margin-bottom: 36px;
    max-width: 496px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_hero_tablet@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .main-text {
    line-height: 1.5;
    margin-bottom: 48px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_hero@2x.jpg);
    }
  }
}

/* ======== /Hero Styles ================== */

/* ====== our benefits styles  ====== */

.svg-container {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-benefits-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.benefits-list-item {
  width: calc((100%) / 1);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (max-width: 1157px) {
  .svg-container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    gap: 24px;
    row-gap: 72px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .title {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .our-benefits-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .benefits-list {
    gap: 24px;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .title-text {
    font-weight: 400;
  }
}

/* ====== /our benefits styles  ====== */

/* ====== our team styles  ====== */

.team-icon-svg {
  fill: #f4f4fd;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.team-icon-link:focus {
  background-color: #404bbf;
}

.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.list-team {
  display: flex;
  gap: 72px;
  flex-direction: column;
}

.list-team-item {
  background-color: #ffffff;
  width: calc((100%) / 1);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-section {
  background-color: #f4f4fd;
}

.team-item-low {
  padding: 32px 0;
  text-align: center;
}

.name-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-low {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .list-team {
    gap: 24px;
    row-gap: 64px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list-team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .list-team {
    gap: 24px;
    flex-direction: row;
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-icon-link:hover {
    background-color: #404bbf;
  }
}

/* ====== /our team styles  ====== */

/* ====== our Portfolio styles  ====== */

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-text-low {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.portfolio-list {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100%) / 1);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-team {
  display: flex;
}

.name-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* .our-portfolio-img {
  width: 288px;
  height: 280px;
} */

.title-name-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-low-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .container-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}
/* ====== /our Portfolio styles  ====== */

/* ============ footer-styles =========== */

.svg-footer {
  fill: #f4f4fd;
}

.logo-container {
  text-align: center;
}

.footer-icon-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-box {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer-list-container {
  margin: 72px auto;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus {
  background-color: #31d0aa;
}

.footer-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-color {
  background-color: #2e2f42;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
  text-align: start;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

/* footer-subscribe */

.footer-subscribe-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 165px;
  height: 40px;
  padding: 8px 64px 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}

.footer-subscribe-svg {
  position: absolute;
  top: 8px;
  right: 24px;
  margin-left: 16px;
}

.footer-subscribe-text {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.user-subscribe-input {
  width: 288px;
  height: 40px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.user-subscribe-input::placeholder {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .footer-box {
    gap: 25px;
    row-gap: 72px;
    width: 584px;
  }

  .logo-container {
    text-align: start;
  }

  .footer-text {
    width: 264px;
  }

  .footer-list-container {
    margin: 0;
  }
  .footer-icon-title {
    text-align: start;
  }

  .footer-subscribe-form {
    gap: 24px;
  }

  .footer-subscribe-text {
    text-align: start;
  }

  .user-subscribe-input {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-box {
    width: auto;
    gap: 0;
    row-gap: 0;
  }

  .logo-container {
    margin-right: 120px;
  }

  .footer-list-container {
    margin-right: 80px;
  }

  .footer-subscribe-form {
    gap: 0;
  }

  .footer-subscribe-label {
    margin-right: 20px;
  }
}

/* ============ /footer-styles =========== */

/* ============ backdrop-styles =========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ============ /backdrop-styles =========== */

/* ============ modal-window-styles =========== */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* ============ /modal-window-styles =========== */

/* ============ modal-form-styles =========== */

.review-form-fild-wraper {
  margin-bottom: 8px;
}

.review-form-fild-wraper:nth-child(4) {
  margin-bottom: 16px;
}

.rewiew-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 256px;
  margin-bottom: 16px;
}

.review-form-fild-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input {
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-filed-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-filed-icon {
  fill: #4d5ae5;
}

.review-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}

.review-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 24px;
}

.privacy-policy-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.review-form-own-checkbox {
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.review-form-privacy-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.review-form-privacy-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgb(46, 47, 66);
}

.review-form-checkbox-wraper {
  position: relative;
  margin-bottom: 24px;
}

.review-form-submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .rewiew-form-description {
    width: 360px;
  }

  .review-form-checkbox-wraper {
    position: static;
  }

  .review-form-own-checkbox {
    position: static;
  }

  .review-form-checkbox-label {
    padding-left: 0;
  }
}

/* ============ /modal-form-styles =========== */

/* ============ mobile-menu-styles =========== */

@media only screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-close-menu-btn {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-close-menu-btn:focus {
    fill: #fff;
    background-color: #404bbf;
  }

  .mobile-nav-menu {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .mobile-adress-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  .mobile-adress-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-adress-link:focus {
    color: #404bbf;
  }

  .mobile-social-menu {
    display: flex;
    gap: 40px;
  }

  .mobile-social-item {
    line-height: 0;
  }

  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-link:focus {
    background-color: #31d0aa;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ============ /mobile-menu-styles =========== */
